* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 255, 0.059);
  display: flex;
  justify-content: center;
}

.componentBox {
  min-width: 80vw;
  border: 1px solid #aaa;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background: #efefef;
}

button {
  border: 2px solid black;
  margin: 3px;
  border-radius: 5px;
}

button:hover {
  color: blue;
}

.login-fail {
  color: red;
}

.hide-form {
  visibility: hidden;
}